.App{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    padding: 20px;
}

.App.theme1{
      background-color: var(--Theme1MainBackground);
}
.App.theme2{
      background-color: var(--Theme2MainBackground);
}
.App.theme3{
      background-color: var(--Theme3MainBackground);
}